.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}
.chat-container .chat-messages{
    position: relative;
    flex: 2;
    overflow-y: auto;
    border-top: 1px solid #195848;
}
.back-container a{
    color: #212529;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.back-container svg{
    font-size: 1.7rem;
}
.back-container span{
    font-size: 1.5rem;
    margin-bottom: 7px;
}
.message-form-container{
    display: flex;
    position: sticky;
    bottom: 0;
}
.message-form-container .form-group{
    flex: 2;
}
.message-form-container .message-input{
    border: 0;
    border-top: 1px solid #195848;
    margin-bottom: -15px;
    border-radius: 0px;
}
.message-form-container .send-chat{
    border-radius: 0;
}
.message-form-container .send-chat div{
    padding: 0 !important;
}
.chat-list-container{
    list-style-type: none;
    padding: 20px;
}
.chat-list-container li{
    background-color: #d3d3d4;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    font-size: 16px;
    padding: 10px;
}
.chat-list-container li .chat-name{
    position: absolute;
    top: 0px;
    font-size: xx-small;
    right: 5px;
    text-decoration: underline;
    cursor: pointer;
}
.chat-list-container li .chat-name:hover{
    color: white;
}
.chat-list-container li  .time-stamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat-list-container  .chat-reciever{
    margin-left: auto;
    background-color: #e5eceb;
}
.group-heading{
    border-top-left-radius: 2.6rem;
    border-top-right-radius: 2.6rem;
    background-color: #82a89e;
}
.group-heading h4{
    font-size: 1.8rem;
    font-weight: 600;
}
.dropdown-profile{
    position: relative;
    display: none;
}
.dropdown-profile button{
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-size: 12px;
}
.dropdown-profile .btn-personally{
    background-color: #82a89e;
}
.chat-list-container li .chat-name:hover + .time-stamp + .dropdown-profile, .chat-list-container li .chat-name + .time-stamp + .dropdown-profile:hover{
    display: initial;
}

@media only screen and (max-width: 700px){
    .group-heading h4{
        font-size: 1.2rem;
    }
    .chat-list-container li {
        font-size: 14px;
    }
}